<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{303,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,271}}</string>
                <key>sourceSize</key>
                <string>{303,271}</string>
            </dict>
            <key>box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,229},{303,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,271}}</string>
                <key>sourceSize</key>
                <string>{303,271}</string>
            </dict>
            <key>box10.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1403},{266,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,253}}</string>
                <key>sourceSize</key>
                <string>{266,253}</string>
            </dict>
            <key>box11.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,1065},{266,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,253}}</string>
                <key>sourceSize</key>
                <string>{266,253}</string>
            </dict>
            <key>box12.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,502},{286,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,257}}</string>
                <key>sourceSize</key>
                <string>{286,257}</string>
            </dict>
            <key>box13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,545},{286,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,257}}</string>
                <key>sourceSize</key>
                <string>{286,257}</string>
            </dict>
            <key>box14.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1769},{212,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,222}}</string>
                <key>sourceSize</key>
                <string>{212,222}</string>
            </dict>
            <key>box15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1769},{212,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,222}}</string>
                <key>sourceSize</key>
                <string>{212,222}</string>
            </dict>
            <key>box16.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,900},{149,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,162}}</string>
                <key>sourceSize</key>
                <string>{149,162}</string>
            </dict>
            <key>box17.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1861},{183,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,182}}</string>
                <key>sourceSize</key>
                <string>{183,182}</string>
            </dict>
            <key>box18.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1861},{183,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,182}}</string>
                <key>sourceSize</key>
                <string>{183,182}</string>
            </dict>
            <key>box19.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1312},{141,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,182}}</string>
                <key>sourceSize</key>
                <string>{141,182}</string>
            </dict>
            <key>box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,2},{303,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,270}}</string>
                <key>sourceSize</key>
                <string>{303,270}</string>
            </dict>
            <key>box20.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1658},{184,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,201}}</string>
                <key>sourceSize</key>
                <string>{184,201}</string>
            </dict>
            <key>box21.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1525},{247,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,233}}</string>
                <key>sourceSize</key>
                <string>{247,233}</string>
            </dict>
            <key>box22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1532},{238,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,235}}</string>
                <key>sourceSize</key>
                <string>{238,235}</string>
            </dict>
            <key>box23_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,814},{276,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,259}}</string>
                <key>sourceSize</key>
                <string>{276,259}</string>
            </dict>
            <key>box23_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,804},{276,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,259}}</string>
                <key>sourceSize</key>
                <string>{276,259}</string>
            </dict>
            <key>box23_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{276,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,259}}</string>
                <key>sourceSize</key>
                <string>{276,259}</string>
            </dict>
            <key>box23_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,761},{276,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,259}}</string>
                <key>sourceSize</key>
                <string>{276,259}</string>
            </dict>
            <key>box23_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,639},{276,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,259}}</string>
                <key>sourceSize</key>
                <string>{276,259}</string>
            </dict>
            <key>box23_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{276,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,259}}</string>
                <key>sourceSize</key>
                <string>{276,259}</string>
            </dict>
            <key>box24_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,544},{300,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,268}}</string>
                <key>sourceSize</key>
                <string>{300,268}</string>
            </dict>
            <key>box24_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,275},{300,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,268}}</string>
                <key>sourceSize</key>
                <string>{300,268}</string>
            </dict>
            <key>box24_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,274},{300,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,268}}</string>
                <key>sourceSize</key>
                <string>{300,268}</string>
            </dict>
            <key>box25_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1029},{267,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,246}}</string>
                <key>sourceSize</key>
                <string>{267,246}</string>
            </dict>
            <key>box25_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1022},{267,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,246}}</string>
                <key>sourceSize</key>
                <string>{267,246}</string>
            </dict>
            <key>box25_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,900},{267,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,246}}</string>
                <key>sourceSize</key>
                <string>{267,246}</string>
            </dict>
            <key>box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,2},{303,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,269}}</string>
                <key>sourceSize</key>
                <string>{303,269}</string>
            </dict>
            <key>box4.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,210},{303,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,271}}</string>
                <key>sourceSize</key>
                <string>{303,271}</string>
            </dict>
            <key>box5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,273},{302,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,270}}</string>
                <key>sourceSize</key>
                <string>{302,270}</string>
            </dict>
            <key>box6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,2},{303,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,271}}</string>
                <key>sourceSize</key>
                <string>{303,271}</string>
            </dict>
            <key>box7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1277},{266,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,253}}</string>
                <key>sourceSize</key>
                <string>{266,253}</string>
            </dict>
            <key>box8.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1270},{266,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,253}}</string>
                <key>sourceSize</key>
                <string>{266,253}</string>
            </dict>
            <key>box9.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1148},{266,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,253}}</string>
                <key>sourceSize</key>
                <string>{266,253}</string>
            </dict>
            <key>by0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,230}}</string>
                <key>sourceSize</key>
                <string>{402,230}</string>
            </dict>
            <key>by1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,230}}</string>
                <key>sourceSize</key>
                <string>{402,230}</string>
            </dict>
            <key>by10.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,2},{350,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,206}}</string>
                <key>sourceSize</key>
                <string>{350,206}</string>
            </dict>
            <key>by11.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,2},{350,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,206}}</string>
                <key>sourceSize</key>
                <string>{350,206}</string>
            </dict>
            <key>by12.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{367,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,225}}</string>
                <key>sourceSize</key>
                <string>{367,225}</string>
            </dict>
            <key>by13.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{367,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,225}}</string>
                <key>sourceSize</key>
                <string>{367,225}</string>
            </dict>
            <key>by14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,717},{298,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,170}}</string>
                <key>sourceSize</key>
                <string>{298,170}</string>
            </dict>
            <key>by15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,717},{298,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,170}}</string>
                <key>sourceSize</key>
                <string>{298,170}</string>
            </dict>
            <key>by16.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,234},{164,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,94}}</string>
                <key>sourceSize</key>
                <string>{164,94}</string>
            </dict>
            <key>by17.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1760},{220,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,137}}</string>
                <key>sourceSize</key>
                <string>{220,137}</string>
            </dict>
            <key>by18.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1760},{220,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,137}}</string>
                <key>sourceSize</key>
                <string>{220,137}</string>
            </dict>
            <key>by19.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,639},{213,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,126}}</string>
                <key>sourceSize</key>
                <string>{213,126}</string>
            </dict>
            <key>by2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,230}}</string>
                <key>sourceSize</key>
                <string>{402,230}</string>
            </dict>
            <key>by20.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,1051},{259,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,148}}</string>
                <key>sourceSize</key>
                <string>{259,148}</string>
            </dict>
            <key>by21.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,483},{291,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,154}}</string>
                <key>sourceSize</key>
                <string>{291,154}</string>
            </dict>
            <key>by22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,545},{298,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,170}}</string>
                <key>sourceSize</key>
                <string>{298,170}</string>
            </dict>
            <key>by23.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,2},{350,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,206}}</string>
                <key>sourceSize</key>
                <string>{350,206}</string>
            </dict>
            <key>by24.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,2},{350,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,206}}</string>
                <key>sourceSize</key>
                <string>{350,206}</string>
            </dict>
            <key>by25.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,2},{350,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,206}}</string>
                <key>sourceSize</key>
                <string>{350,206}</string>
            </dict>
            <key>by3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,230}}</string>
                <key>sourceSize</key>
                <string>{402,230}</string>
            </dict>
            <key>by4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,230}}</string>
                <key>sourceSize</key>
                <string>{402,230}</string>
            </dict>
            <key>by5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,230}}</string>
                <key>sourceSize</key>
                <string>{402,230}</string>
            </dict>
            <key>by6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,230}}</string>
                <key>sourceSize</key>
                <string>{402,230}</string>
            </dict>
            <key>by7.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,2},{350,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,206}}</string>
                <key>sourceSize</key>
                <string>{350,206}</string>
            </dict>
            <key>by8.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,2},{350,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,206}}</string>
                <key>sourceSize</key>
                <string>{350,206}</string>
            </dict>
            <key>by9.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,2},{350,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,206}}</string>
                <key>sourceSize</key>
                <string>{350,206}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boxs.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98c800d78b945fbd981b8f325b4ec7bf:1/1$</string>
            <key>textureFileName</key>
            <string>boxs.png</string>
        </dict>
    </dict>
</plist>
