<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>tx_quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,72}}</string>
                <key>sourceSize</key>
                <string>{120,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>txs.png</string>
            <key>size</key>
            <string>{120,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98555549b4bd851405e9e4bff4146605:1/1$</string>
            <key>textureFileName</key>
            <string>txs.png</string>
        </dict>
    </dict>
</plist>
