<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>juese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{50,140}</string>
                <key>spriteSourceSize</key>
                <string>{60,142}</string>
                <key>textureRect</key>
                <string>{{543,1289},{50,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jx_im.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{451,251}</string>
                <key>spriteSourceSize</key>
                <string>{451,251}</string>
                <key>textureRect</key>
                <string>{{1,1289},{451,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu_an.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,96}</string>
                <key>spriteSourceSize</key>
                <string>{334,96}</string>
                <key>textureRect</key>
                <string>{{851,618},{334,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu_ph.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,37}</string>
                <key>spriteSourceSize</key>
                <string>{171,37}</string>
                <key>textureRect</key>
                <string>{{504,1289},{171,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,91}</string>
                <key>spriteSourceSize</key>
                <string>{360,91}</string>
                <key>textureRect</key>
                <string>{{758,709},{360,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>over_an0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,104}</string>
                <key>spriteSourceSize</key>
                <string>{340,104}</string>
                <key>textureRect</key>
                <string>{{758,1071},{340,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>over_an1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,104}</string>
                <key>spriteSourceSize</key>
                <string>{340,104}</string>
                <key>textureRect</key>
                <string>{{595,1413},{340,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>over_jm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{618,337}</string>
                <key>spriteSourceSize</key>
                <string>{618,337}</string>
                <key>textureRect</key>
                <string>{{1,844},{618,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>over_zi0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,20}</string>
                <key>spriteSourceSize</key>
                <string>{197,30}</string>
                <key>textureRect</key>
                <string>{{454,1289},{197,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ph_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{864,1232},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_di0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,104}</string>
                <key>spriteSourceSize</key>
                <string>{615,104}</string>
                <key>textureRect</key>
                <string>{{1,1183},{615,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ph_di1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,104}</string>
                <key>spriteSourceSize</key>
                <string>{615,104}</string>
                <key>textureRect</key>
                <string>{{836,1},{615,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ph_jm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{618,841}</string>
                <key>spriteSourceSize</key>
                <string>{618,841}</string>
                <key>textureRect</key>
                <string>{{1,1},{618,841}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{706,76}</string>
                <key>spriteSourceSize</key>
                <string>{720,76}</string>
                <key>textureRect</key>
                <string>{{758,1},{706,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,30}</string>
                <key>spriteSourceSize</key>
                <string>{280,30}</string>
                <key>textureRect</key>
                <string>{{864,954},{276,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shu3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{1304,135}</string>
                <key>spriteSourceSize</key>
                <string>{1330,135}</string>
                <key>textureRect</key>
                <string>{{621,1},{1304,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shu4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,30}</string>
                <key>spriteSourceSize</key>
                <string>{280,30}</string>
                <key>textureRect</key>
                <string>{{896,954},{276,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shu5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,26}</string>
                <key>spriteSourceSize</key>
                <string>{190,26}</string>
                <key>textureRect</key>
                <string>{{476,1289},{190,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tou_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{864,1299},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tou_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{595,1307},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_dian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,12}</string>
                <key>spriteSourceSize</key>
                <string>{11,12}</string>
                <key>textureRect</key>
                <string>{{851,954},{11,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tyt.png</string>
            <key>size</key>
            <string>{948,1541}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:308be75169b3208cadd34ec7a4819d71:d1219431a96d7d213dbab587b04db118:58055efee4d8650b23a32802719d1dc5$</string>
            <key>textureFileName</key>
            <string>tyt.png</string>
        </dict>
    </dict>
</plist>
